* text=auto

*.ts text
*.tsx text
*.js text
*.json text
*.ejs text
*.css text
*.scss text
*.md text
*.mmd text
*.sql text
*.yml text
*.yaml text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

*.ico binary